asn1crypto==0.24.0
backports.functools-lru-cache==1.6.4
configparser==3.5.0b2
cryptography==2.3
cycler==0.10.0
Django==1.11.29
entrypoints==0.2.3.post3
enum34==1.1.6
idna==2.6
image==1.5.33
ipaddress==1.0.17
keyring==15.1.0
keyrings.alt==3.1
kiwisolver==1.1.0
matplotlib==2.2.5
numpy==1.16.6
pandas==0.24.2
Pillow==6.2.2
pycrypto==2.6.1
PyGObject==3.30.1
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
pyxdg==0.25
scikit-learn==0.20.4
scipy==1.2.3
seaborn==0.9.1
SecretStorage==2.3.1
six==1.16.0
sklearn==0.0
subprocess32==3.5.4
